/* esto seria pagina de SHOP */

.contenedor-cartas{
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    font-family: $fuente;
}

.card{
    @include flex-2 (flex, center);
    background-color: azure;
 }

 .card img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.imagen-tienda{
    @include flex-2 (flex, center);
    border: 3px solid black;
    flex-wrap: wrap;

}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button{
        border: none;
    background: none;
    background-color: black;
    color: #F6F4C2;
    padding: 15px 10px;
    cursor: pointer;
    }
}

.precio{
    font-family: $fuente;
    font-size: 40px;
}

