.navbar1{
    padding: 0px 0px 25px 0px;
    .navbar{
        background-color: rgb(2, 93, 140);
    }
    ul{
        li{
           a{
    text-decoration: none;
    color: $color-letras;
    font-size: 20px;
    font-family: $fuente-dos;
    @include flex-2 (flex, center);
    justify-content: center;
    text-decoration: none;
    } 
        }
    }
    a{
        color: $color-letras;
    }
    
    button{
        color: $color-letras;
    }
}