// maps //
$colors: (
    amarillito: #F6F4C2,
    azul: rgb(2, 93, 140),
);

$font-sizes: (
    500: 15px,
    600: 20px,
    768: 22px,
    850: 23px,
    1023: 23px,
    1200: 30px,
    1400: 30px,
    1600: 30px,
    2000: 35px,
);
