@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

@mixin flex ($display, $flex){
    display: $display;
    flex-flow: $flex;
}
@mixin flex-2 ($display, $align){
    display: $display;
    align-items: $align;
}