@media (min-width: 851px) and (max-width: 1023px){
    .texto{
        font-size: map-get($font-sizes, 1023);
        
    }
    .grid-container{
        display: flex;
        justify-content: space-around;
        
        img{
            @include flex-2 (flex, center);
            @include sizes (360px, 202px);
        }
    } 
    .grid-uno{
        display: flex;
    }
    .grid-dos{
        display: flex;
    }

    .lista-links2{
        font-size: 20px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;

    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (450px, 253px);
    }
    .grid-ayuda1{
        @include flex-2 (flex, center);
    }
    .grid-ayuda2{
        @include flex-2 (flex, center);
    }

    .h1-de-ayuda{
        font-size: 30px;
    }
    .parrafo-ayuda{
        font-size: map-get($font-sizes, 1023);
    }
    .frase{
        font-size: 30px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: map-get($font-sizes, 1023);
    }
    .subtitulos{
        font-size: 25px;
    }
    .donde-estamos{
        font-size: map-get($font-sizes, 1023);
    }
    
    .grid-fotos-donde-estamos{
        display: flex;
    }
    .grid-fotos-donde-estamos img{
        display: flex;
        @include sizes (400px, 230px);
    }
    .grid-mapa{
        font-size: 25px;
    }

    .grid-container-mapas{
        @include sizes (500px, 300px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        @include flex-2 (flex, center);
       }
   
    /*  NOSOTROS  */
    .grid-container-fotos img{
        @include flex-2 (flex, center);
        @include sizes (400px, 230px);
        
    }
    .grid-container-fotos{
        font-size: 25px;
    }

    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card img{
        display: flex;
        @include sizes (200px, 150px);
    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .card{
        .btn{
            @include sizes (90px, 90px);
            font-size: 15px;

        }
    }


}
