@media (min-width: 300px) and (max-width: 500px) {

    /* Esto SERIA PARA LA PAGINA PRINCIPAL*/

   .icono img{
   @include sizes (105px, 55px);
   display: flex;
   margin: 20px;
   }

   .texto{
       flex-flow: wrap;
       font-size: map-get($font-sizes, 500);
       text-align: center;

    }


    .lista-links li a{
       font-size: 20px;
    }

    .lista-links2{
        a{
            padding: 7px;
            
        }
    }


    .grid-container{
        @include flex-2 (flex, center);
       flex-direction: column;
    }

    .grid-container img{

       display: flex;
       @include sizes (330px, 185px);

    }

    .grid-uno{

       display: flex;

   }

   .grid-dos{
       display: flex;

   }

   .login label{
       display: flex;
       text-align: end;
   }

   .lista-links{
    @include flex-2 (flex, center);
       justify-content: space-evenly;
       font-size: 5px;
   }

   .lista-links2{
       display: flex;
       text-align: center;
       justify-content: space-evenly;
       font-size: map-get($font-sizes, 500);
   }

   .copyright1{
       @include flex (flex, wrap);
       text-align: center;
       padding: 10px 20px;
   }

   /* Esto seria para lo que es ayuda*/

   .grid-ayuda-container{
    @include flex-2 (flex, center);
       flex-direction: column;

       img{
        @include flex-2 (flex, center);
       @include sizes (360px, 203px);

       }
   }

   .grid-ayuda1{
       display: flex;
   }
   .grid-ayuda2{
       display: flex;
   }
   .h1-de-ayuda{
       font-size: 25px;
   }
   .parrafo-ayuda{
       font-size: map-get($font-sizes, 500);
       text-align: center;
   }
   .frase{
       font-size: 20px;
   }

    /* ESTO SERIA DONDE ESTAMOS*/
    .para-los-parrafos-historia{
        @include flex-2 (flex, center);
       font-size: map-get($font-sizes, 500);
   }
   .subtitulos{
       font-size: 20px;
   }
   .donde-estamos{
       @include flex (flex, wrap);
       font-size: map-get($font-sizes, 500);
   }
}

   /*
   .grid-container img{
       display: flex;
       align-items: center;
       width: 350px;

   }
   */
   .grid-container-mapas{
    @include sizes (300px, 200px);
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    @include flex-2 (flex, center);
   }

   .grid-mapa{
       padding: 5px;
       text-align: center;
       font-size: 20px;

   }
   /* ESTO SERIA LA PARTE "NOSOTROS"*/
   .grid-container-fotos{
    @include flex-2 (flex, center);
       flex-direction: column;
   }
   .grid-container-fotos img{
    @include sizes (350px, 220px);
   }
   .grid-costado-fotos{
       display: flex;
       text-align: baseline;
       font-size: 15px;
   }
   /* esto seria "SHOP"*/
   .contenedor-cartas{
       display: flex;
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

   .card img{
    @include sizes (170px, 150px);
   }
   .titulo-tienda{
       display: flex;
       text-align: center;
       font-size: 15px;
   }
   .precio{
       display: flex;
       text-align: center;
       font-size: 20px;
   }
   .info-producto {
    .btn{
        @include sizes (70px, 100px);
        font-size: 10px;
    }
    
   }
   .info-producto .precio{
       display: flex;
       text-align: center;
   }

   .ala-avion{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


