@media (min-width: 501px) and (max-width: 600px){
        
        
    /*  INDEX  */

    .icono{
        img{
            @include sizes (145px, 75px);
        }
    }

    .login{
        font-size: 10px;
    }

    .texto{
        font-size: map-get($font-sizes, 600);
    }
    .grid-container img{
        @include flex-2 (flex, center);
        @include sizes (250px, 135px);
        justify-content: space-around;
        padding: 0px 0px 0px 10px;
    }
    .grid-uno{
        display: flex;
    }
    .grid-dos{
        display: flex;
    }

    .lista-links2{
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        font-size: 15px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;
    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (270px, 152px);
    }
    .grid-ayuda1{
        display: flex;
        width: fit-content;
    }

    .h1-de-ayuda{
        font-size: 35px;
    }

   .parrafo-ayuda{
    font-size: map-get($font-sizes, 600);
    h2{
        font-size: map-get($font-sizes, 600);
    }
   }

    .frase{
        font-size: 30px;
    }

    /*  DONDE ESTAMOS  */
/*
    .grid-container{

    }*/
    .para-los-parrafos-historia{
        font-size: map-get($font-sizes, 600);
    }
    .subtitulos{
        font-size: 25px;
    }
    .donde-estamos{
        font-size: map-get($font-sizes, 600);
    }
 
    .grid-mapa{
        padding: 20px;
        font-size: 25px;
        text-align: center;
    }

    .grid-container-mapas{
        @include sizes (400px, 300px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        @include flex-2 (flex, center);
       }
   
    /*  NOSOTROS  */
    .grid-container-fotos img{
        @include flex-2 (flex, center);
        @include sizes (300px, 210px);
    }
    .grid-container-fotos{
        font-size: 25px;
    }


 

    /*  TIENDA  */
    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card img{
        display: flex;
        @include sizes (160px, 130px);

    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        align-items: center;
        font-size: 20px;
    }
    .card button{
        border: 1px solid black;
        @include flex-2 (flex, center);
        font-size: 10px;
    }


}