@media (min-width: 601px) and (max-width: 768px){
        
        
    /*  INDEX  */

    .texto{
        font-size: map-get($font-sizes, 768);
    }
    .grid-container{
        display: flex;
        justify-content: space-around;
        img{
            @include flex-2 (flex, center);
            @include sizes (350px, 197px);
        }
    }
     
    .grid-uno{
        @include flex-2 (flex, center);
    }
    .grid-dos{
        @include flex-2 (flex, center);
    }

    .lista-links2{
            font-size: 20px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;
    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (300px, 169px);
    }
    .grid-ayuda1{
        display: flex;
        width: fit-content;
    }

    .h1-de-ayuda{
        font-size: 35px;
    }
    .parrafo-ayuda{
        font-size: map-get($font-sizes, 768);
    }
    .frase{
        font-size: 30px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: map-get($font-sizes, 768);
    }
    .subtitulos{
        font-size: 25px;
    }
    .donde-estamos{
        font-size: map-get($font-sizes, 768);
    }
    .grid-fotos-donde-estamos{
        display: flex;
        img{
            @include sizes (330px, 210px);
        }

    }
    .grid-mapa{
        font-size: 25px;
    }
   
    /*  NOSOTROS  */
    .grid-container-fotos {
        img{
            @include flex-2 (flex, center);
        @include sizes (330px, 220px);
        }
        
    }
    .grid-container-fotos{
        font-size: 25px;
    }

    .grid-container-mapas{
        @include sizes (500px, 300px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        @include flex-2 (flex, center);
       }

    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card img{
        display: flex;
        @include sizes (180px, 150px);
    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .card {
        .btn{
            @include sizes (90px, 90px);
             font-size: 10px;
        }
       
    }


}