@media (min-width: 1601px) and (max-width: 2000px){
    .texto{
        font-size: 30px;
    }
    .grid-container{
        display: flex;
        justify-content: space-around;
        img{
        display: flex;
        align-items: center;
        width: 600px;
    }
    } 
    .grid-uno{
        display: flex;
    }
    .grid-dos{
        display: flex;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .grid-ayuda-container img{
        display: flex;
        align-items: center;
        width: 800px;
    }
    .grid-ayuda1{
        display: flex;
        align-items: center;
    }
    .grid-ayuda2{
        display: flex;
        align-items: center;
    }

    .h1-de-ayuda{
        font-size: 55px;
    }
    .parrafo-ayuda{
        font-size: 35px;
    }
    .frase{
        font-size: 45px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: 25px;
    }
    .subtitulos{
        font-size: 50px;
    }
    .donde-estamos{
        font-size: 15px;
    }
    .grid-fotos-donde-estamos{
        display: flex;
    }
    .grid-mapa{
        font-size: 25px;
    }
    .grid-container{
        display: flex;
        align-items: center;
    }
    .grid-container img{
        display: flex;
        align-items: center;
        width: 850px;
    }
    /*  NOSOTROS  */
    .grid-container-fotos img{
        display: flex;
        align-items: center;
        width: 550px;
    }
    .grid-container-fotos{
        display: flex;
        font-size: 30px;
    }


    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card img{
        display: flex;
        width: 300px;
        height: 300px;
    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .card button{
        font-size: 15px;
    }
}
