@media (min-width: 1401px) and (max-width: 1600px){

    .navbar1{
        a{
            font-size: 25px;
        }
        ul{
            li{
                a{
                    font-size: 25px;
                }
            }
        }
    }
    .texto{
        font-size: map-get($font-sizes, 1600);
    }
    .grid-container{
        img{
            @include sizes (680px, 400px);
        }
    }
    .grid-container{
        display: flex;
        justify-content: space-around;
        img{
            @include flex-2 (flex, center);
        }
    } 
    .grid-uno{
        display: flex;
    }
    .grid-dos{
        display: flex;
    }

    .lista-links2{
        font-size: 25px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;

    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (650px, 365px);
    }
    .grid-ayuda1{
        @include flex-2 (flex, center);
    }
    .grid-ayuda2{
        @include flex-2 (flex, center);
    }

    .h1-de-ayuda{
        font-size: 35px;
        padding: 10px 0px 50px 0px;
    }
    .parrafo-ayuda{
        font-size: map-get($font-sizes, 1600);
    }
    .frase{
        font-size: 35px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: map-get($font-sizes, 1600);
    }
    .subtitulos{
        font-size: 50px;
    }
    .donde-estamos{
        font-size: map-get($font-sizes, 1600);
    }
    .grid-fotos-donde-estamos{
        display: flex;
    }
    .grid-mapa{
        font-size: 40px;
        text-align: center;
        padding: 10px 0px 50px 0px;
    }
    .grid-container{
        @include flex-2 (flex, center);
    }
    .grid-container img{
        @include flex-2 (flex, center);
        @include sizes (680px, 400px);

    }

    .grid-container-mapas{
        @include sizes (600px, 450px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
    }


    /*  NOSOTROS  */
    .grid-container-fotos img{
        @include flex-2 (flex, center);
        @include sizes (550px, 300px);
    }
    .grid-container-fotos{
        display: flex;
        font-size: 30px;
    }

    .grid-costado-fotos{
        font-size: 25px;
    }


    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card{
        padding: 50px;
        }

    .card img{
        display: flex;
        @include sizes (300px, 300px);
        justify-content: center;
    }
    .card h5{
        font-size: 40px;
        justify-content: center;
    }
    .card p{
        font-size: 30px;
        justify-content: center;
    }
    .card button{
        @include sizes (180px, 120px);
        font-size: 20px;
        justify-content: center;
    }

   
    
}