@media (min-width: 1201px) and (max-width: 1400px){
    .texto{
        font-size: 30px;
    }
    .grid-container{
        display: flex;
        justify-content: space-around;

               img{
                  @include flex-2 (flex, center);
                  @include sizes (600px, 337px);
                  }
    } 
    .grid-uno{
        display: flex;
    }
    .grid-dos{
        display: flex;
    }

    .lista-links2{
        font-size: 20px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;

    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (590px, 332px); 
    }
    .grid-ayuda1{
        @include flex-2 (flex, center);
    }
    .grid-ayuda2{
        @include flex-2 (flex, center);
    }

    .h1-de-ayuda{
        font-size: 35px;
    }
    .parrafo-ayuda{
        font-size: 25px;
    }
    .frase{
        font-size: 35px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: 25px;
    }
    .subtitulos{
        font-size: 50px;
    }
    .donde-estamos{
        font-size: 15px;
    }
    .grid-fotos-donde-estamos{
        display: flex;
    }
    .grid-mapa{
        font-size: 40px;
        padding: 10px 0px 50px 0px;
    }
    .grid-container{
        @include flex-2 (flex, center);
    }
    .grid-container img{
        @include flex-2 (flex, center);
        @include sizes (600px, 337px);
    }

    .grid-container-mapas{
        @include sizes (600px, 400px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        @include flex-2 (flex, center);
       }

    /*  NOSOTROS  */
    .grid-container-fotos img{
        @include flex-2 (flex, center);
        @include sizes (550px, 280px);
    }
    .grid-container-fotos{
        font-size: 30px;
    }


    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card img{
        display: flex;
        @include sizes (250px, 250px);
    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .card{
        .btn{
            font-size: 15px;
            @include sizes (150px, 130px);
        }
        
    }


}
