@media (min-width: 1024px) and (max-width: 1200px){
    .texto{
        font-size: map-get($font-sizes, 1200);
    }
    .grid-container{
        display: flex;
        justify-content: space-around;

       .grid-uno{
            display: flex;

            img{
                align-items: center;
                @include sizes (490px, 312px);

            }
        }
        .grid-dos{
        display: flex;

          img{
            align-items: center;
             @include sizes (490px, 312px);
          }
        }

    } 
   

    .lista-links2{
        font-size: 20px;
    }

    /*  AYUDA  */

    .grid-ayuda-container{
        @include flex-2 (flex, center);
        justify-content: space-around;

    }
    .grid-ayuda-container img{
        @include flex-2 (flex, center);
        @include sizes (500px, 281px);
    }
    .grid-ayuda1{
        @include flex-2 (flex, center);
    }
    .grid-ayuda2{
        @include flex-2 (flex, center);
    }

    .h1-de-ayuda{
        font-size: 35px;
    }
    .parrafo-ayuda{
        font-size: map-get($font-sizes, 1200);
    }
    .frase{
        font-size: 35px;
    }

    /*  DONDE ESTAMOS  */
    .para-los-parrafos-historia{
        font-size: map-get($font-sizes, 1200);
    }
    .subtitulos{
        font-size: 50px;
    }
    .donde-estamos{
        font-size: map-get($font-sizes, 1200);
    }
    .grid-fotos-donde-estamos{
        display: flex;
    }
    .grid-mapa{
        font-size: 25px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
    .grid-container img{
        @include flex-2 (grid, center);
        grid-template-columns: 1fr 1fr;
        @include sizes (490px, 312px);
    }

    .grid-container-mapas{
        @include sizes (500px, 300px);
        margin: 20px auto;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        @include flex-2 (flex, center);
       }

    /*  NOSOTROS  */
    .grid-container-fotos img{
        @include flex-2 (flex, center);
        @include sizes (430px, 250px);
    }
    .grid-container-fotos{
        font-size: 30px;
    }
    .grid-costado-fotos{
        font-size: 25px;
    }


    /*  TIENDA  */

    .contenedor-cartas{
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card img{
        display: flex;
        @include sizes (250px, 170px);
    }
    .card h5{
        font-size: 30px;
    }
    .card p{
        font-size: 20px;
    }
    .card{
        .btn{
            font-size: 15px;
            @include sizes (100px, 100px);
        }
        
    }


}